
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        {% block head %}

        {% endblock %}
    </head>
    <body>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>MyBlog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/"><h1>BLOG</h1></a>
    </div>
   {% if user.is_authenticated %}
    <ul class="nav navbar-nav">
        <li class="active"><a href="/home"><span class="glyphicon glyphicon-home"></span>Home  </a></li>
        <li><a href="/accounts/profile"><span class="glyphicon glyphicon-user"></span>My Profile</a></li>
        <li><a href="/accounts/edit"><span class="glyphicon glyphicon-erase"></span>Edit Profile</a></li>
        <li><a href="/accounts/logout"><span class="glyphicon glyphicon-log-out"></span>LogOut</a></li>
        <li><a href="/chat/lobby"><span class="glyphicon glyphicon-envelope"></span>Chat</a></li>


    </ul>
      {% else %}
      <ul class="nav navbar-nav" >
      </ul>
       <ul class="nav navbar-nav navbar-right" >
           <li><a href="/accounts/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
           <li> <a href="/accounts/register"><span class="glyphicon glyphicon-plus"></span>Register</a></li>
       </ul>
      {% endif %}

  </div>
</nav>


</body>
</html>

    {% block body %}

    {% endblock %}

    </body>
</html>
